---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Poster from "../components/Poster.astro";
import FeaturedCard from "../components/FeaturedCard.astro";
import Banner from "../components/Banner.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="container flex gap-4 mb-4 flex-wrap">
      <Poster
        img="https://d2xt7650da4t25.cloudfront.net/s3fs-public/styles/image_card/public/2021-02/premio-excelencia-inmobiliaria-plan-maestro-suramerica-2%28280x200%29.jpg?itok=6SphuFfa"
        year="2007"
      >
        Otorgado por la <a href="#">FIABCI</a>. Categoría Residencial. Ciudadela
        Suramérica La Estrella- Antioquia en el
        <div slot="title">
          Premio Excelencia <a href="#">Inmobiliaria</a> Ciudadela Suramérica La
          Estrella
        </div>
      </Poster>

      <Poster
        img="https://d2xt7650da4t25.cloudfront.net/s3fs-public/styles/image_card/public/2021-01/premio-excelencia-en-concreto-asocreto-epm-coninsa-280x200.jpg?itok=P8nxlLnI"
        year="2006"
      >
        Concedida por <a href="#">ASOCRETO</a>. Categoría Arquitectura en
        Concreto.Centro de Distribución ARGOS Medellín. Año 2006.
        <div slot="title">
          Premio Excelencia en <a href="#">Concreto</a>
        </div>
      </Poster>

      <Poster
        img="https://d2xt7650da4t25.cloudfront.net/s3fs-public/styles/image_card/public/2021-02/sai-instemblematicantioquia-2019-280x200.jpg?itok=HSbdIENu"
        title="Institución Emblemática de Antioquia"
        year="2019"
      >
        Condecoración de la SOCIEDAD ANTIQUEÑA DE INGENIEROS Y ARQUITECTOS <a
          href="#">(SAI)</a
        >
        <div slot="title">
          Institución Emblemática de <a href="#">Antioquia</a>
        </div>
      </Poster>
    </div>

    <Banner />

    <div class="flex gap-4 mb-4 flex-wrap">
      <FeaturedCard
        color="#273475"
        icon="wallet"
        title="Mi Coninsa Virtual"
        desc="Realiza el pago de tu factura. Consulta tu estado de cuenta y otras transacciones en Mi Coninsa Virtual."
      />
      <FeaturedCard
        color="rgb(22, 153, 59)"
        icon="house"
        title="Preconsigna tu inmueble"
        desc="Diligencia un pequeño formulario y nos encargaremos de promocionar y administrar tú inmueble."
      />
      <FeaturedCard
        color="rgb(253, 200, 0)"
        icon="ask"
        title="Preguntas frecuentes"
        desc="¿Necesitas ayuda?, aquí encontrarás las respuestas que necesitas."
      />
    </div>
  </main>
</Layout>
