---
import { Icon } from "astro-icon";

const { title, desc, icon, color } = Astro.props;
---

<div class="container">
  <i class="icon"><Icon name={icon} /></i>
  <h2 class="title">{title}</h2>
  <p class="desc">{desc}</p>
</div>

<style define:vars={{ color }}>
  .container {
    @apply shadow
      bg-white
      w-64
      px-4
      pt-16
      pb-6
      cursor-pointer
      relative
      mt-20
      rounded-md;
  }

  .container:hover {
    background-color: var(--color);
  }

  .container:hover .title,
  .container:hover .desc {
    @apply text-white;
  }

  .container:hover .icon {
    @apply shadow-md;
  }

  .icon {
    @apply block w-28 mx-auto rounded-full p-6 mb-6 absolute -top-16 left-1/2 -ml-14;
    background-color: var(--color);
  }

  svg {
    @apply text-white;
  }

  .title {
    @apply text-as-blue text-lg text-center font-bold pb-2;
  }

  .desc {
    @apply text-as-black text-sm text-center;
  }
</style>
