---
import '@fontsource/open-sans';
---


<div class="poster">
  <img
    src="https://d2xt7650da4t25.cloudfront.net/s3fs-public/styles/image_card/public/2021-01/medalla-sanrafaelarcangel-280x212.jpg?itok=TPjKQFNa"
    alt=""
  />
  <div class="poster-content">
    <div class="poster-year">2012</div>
    <h2 class="poster-title">Medalla San Rafael Arcángel</h2>
    <p class="poster-desc">
      Condecoración la confiere la Alcaldía de Medellín como muestra de reconocimiento y gratitud a las personas que se destacan por su labor en pro de construir una mejor ciudad.
    </p>
  </div>

</div>


<style>
  .poster {
    width: 280px;
    box-shadow: 3px 3px 4px #00000015;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
  }
  .poster-content {
    padding: 1rem;
  }
  .poster-year {
    color: #16993b;
    font-weight: 700;
    font-size: 1rem;
  }
  .poster-title {
    color: #005fe2;
    line-height: 1.25;
    font-size: 1.2rem;
  }
  .poster-desc {
    font-size: 14px;
    font-family: "Open Sans";
    color: #3e3e3e;
  }
  </style>
