---
import '@fontsource/open-sans';

const {title}= Astro.props
---


<div class="poster">
  <img
    src="https://d2xt7650da4t25.cloudfront.net/s3fs-public/styles/image_card/public/2021-01/medalla-sanrafaelarcangel-280x212.jpg?itok=TPjKQFNa"
    alt=""
  />
  <div class="poster-content">
    <div class="poster-year">2012</div>
    <h2 class="poster-title">{title}</h2>
    <p class="poster-desc">
      Condecoración la confiere la Alcaldía de Medellín como muestra de reconocimiento y gratitud a las personas que se destacan por su labor en pro de construir una mejor ciudad.
    </p>
  </div>

</div>


<style>
  .poster {
    @apply w-72 bg-white rounded-md overflow-hidden shadow-xl;
  }
  .poster-content {
    @apply p-4;
  }
  .poster-year {
    @apply text-as-green font-bold;
  }
  .poster-title {
    @apply text-as-blue text-lg font-bold;
  }
  .poster-desc {
    @apply text-as-black font-sans text-sm;
  }
  </style>
