---
import '@fontsource/open-sans';

const {img, title, year, description}= Astro.props
---


<div class="poster">
  <img src={img} />

  <div class="poster-content">
    <div class="poster-year">{year}</div>
    <h2 class="poster-title">{title}</h2>
    <p class="poster-desc">{description}</p>
  </div>

</div>


<style>
  .poster {
    @apply w-72 bg-white rounded-md overflow-hidden shadow-xl;
  }
  .poster-content {
    @apply p-4;
  }
  .poster-year {
    @apply text-as-green font-bold mb-2;
  }
  .poster-title {
    @apply text-as-blue text-lg font-bold leading-5 pb-4;
  }
  .poster-desc {
    @apply text-as-black font-sans text-sm;
  }
  </style>
