---
import '@fontsource/open-sans';
---


<div class="poster">
  <img
    src="https://d2xt7650da4t25.cloudfront.net/s3fs-public/styles/image_card/public/2021-01/medalla-sanrafaelarcangel-280x212.jpg?itok=TPjKQFNa"
    alt=""
  />
  <div class="poster-y">2012</div>
  <h2 class="poster-t">Medalla San Rafael Arcángel</h2>
  <p class="poster-p">
    Condecoración la confiere la Alcaldía de Medellín como muestra de reconocimiento y gratitud a las personas que se destacan por su labor en pro de construir una mejor ciudad.
  </p>
</div>


<style>
  .poster {
    display: block;
    width: 280px;
    box-shadow: 3px 3px 4px #00000015;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
  }
  .poster-y {
    color: #16993b;
    padding-top: 1.5rem;
    padding-left: 1rem;
    font-weight: 700;
    font-size: 1rem;
  }
  .poster-t {
    color: #005fe2;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.25;
    font-size: 1.2rem;
  }
  .poster-p {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
    padding-bottom: 1rem;
    font-family: "Open Sans";
    color: #3e3e3e;
  }
  </style>
